<% if flash[:alert] %>
  <div><%= flash[:alert] %></div>
  <br>
<% end %>

<%= form_tag(start_game_path, method: "get") do %>

  <%= label_tag(:ai_type, translate(:select_difficulty)) %>
    <%= radio_button_tag(:ai_type, "EASY_AI") %>
    <%= label_tag(:ai_type_easy, translate(:easy)) %>
    <%= radio_button_tag(:ai_type, "MEDIUM_AI") %>
    <%= label_tag(:ai_type_medium, translate(:medium)) %>
    <%= radio_button_tag(:ai_type, "HARD_AI") %>
    <%= label_tag(:ai_type_hard, translate(:hard)) %>
    <br>

  <%= label_tag(:order, translate(:select_order)) %>
    <%= radio_button_tag(:order, "first") %>
    <%= label_tag(:order_first, translate(:first)) %>
    <%= radio_button_tag(:order, "second") %>
    <%= label_tag(:order_second, translate(:second)) %>
    <br>

  <%= hidden_field_tag(:locale, I18n.locale) %>

  <%= submit_tag(translate(:start_game)) %>

<% end %>

<%= link_to translate(:game_history), game_history_path %>
